<a href="https://colab.research.google.com/github/BasitSal1m/Machine-Learning-/blob/main/ML_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Importing** **Libraries**

In [1]:
import pandas as pd

In [2]:
import numpy as np

 **Reading Dataset**

In [4]:
ds = pd.read_csv( 'vgsales.csv' )

In [5]:
ds.head

<bound method NDFrame.head of         Rank                                              Name Platform  \
0          1                                        Wii Sports      Wii
1          2                                 Super Mario Bros.      NES
2          3                                    Mario Kart Wii      Wii
3          4                                 Wii Sports Resort      Wii
4          5                          Pokemon Red/Pokemon Blue       GB
...      ...                                               ...      ...
16593  16596                Woody Woodpecker in Crazy Castle 5      GBA
16594  16597                     Men in Black II: Alien Escape       GC
16595  16598  SCORE International Baja 1000: The Official Game      PS2
16596  16599                                        Know How 2       DS
16597  16600                                  Spirits & Spells      GBA

         Year         Genre   Publisher  NA_Sales  EU_Sales  JP_Sales  \
0      2006.0        Sports    Nintendo     41.49     29.02      3.77
1      1985.0      Platform    Nintendo     29.08      3.58      6.81
2      2008.0        Racing    Nintendo     15.85     12.88      3.79
3      2009.0        Sports    Nintendo     15.75     11.01      3.28
4      1996.0  Role-Playing    Nintendo     11.27      8.89     10.22
...       ...           ...         ...       ...       ...       ...
16593  2002.0      Platform       Kemco      0.01      0.00      0.00
16594  2003.0       Shooter  Infogrames      0.01      0.00      0.00
16595  2008.0        Racing  Activision      0.00      0.00      0.00
16596  2010.0        Puzzle    7G//AMES      0.00      0.01      0.00
16597  2003.0      Platform     Wanadoo      0.01      0.00      0.00

       Other_Sales  Global_Sales
0             8.46         82.74
1             0.77         40.24
2             3.31         35.82
3             2.96         33.00
4             1.00         31.37
...            ...           ...
16593         0.00          0.01
16594         0.00          0.01
16595         0.00          0.01
16596         0.00          0.01
16597         0.00          0.01

[16598 rows x 11 columns]>

**Removing Missing Values**

In [6]:
ds_rmv = ds.dropna()

In [7]:
ds_rmv.head()

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37

**Column Transformation**

In [8]:
ds['Past_Decade'] = np.where(ds['Year'] > 2012, 'Yes', 'No')

In [9]:
ds['Past_Decade'].head()

0    No
1    No
2    No
3    No
4    No
Name: Past_Decade, dtype: object

**Removing** **Outliers**

In [10]:
ds['Global_Sales'] = pd.to_numeric(ds['Global_Sales'], errors='coerce')

low_threshold = 0.15
up_threshold = 30.0

ds_clean = ds[(ds['Global_Sales'] >= low_threshold) & (ds['Global_Sales'] <= up_threshold)]

print(ds_clean)

      Rank                                Name Platform    Year       Genre  \
7        8                            Wii Play      Wii  2006.0        Misc
8        9           New Super Mario Bros. Wii      Wii  2009.0    Platform
9       10                           Duck Hunt      NES  1984.0     Shooter
10      11                          Nintendogs       DS  2005.0  Simulation
11      12                       Mario Kart DS       DS  2005.0      Racing
...    ...                                 ...      ...     ...         ...
8988  8990  Dynasty Warriors 8: Xtreme Legends      PSV  2013.0      Action
8989  8991   Moshi Monsters: Katsuma Unleashed       DS  2013.0      Action
8990  8992                      Elf: The Movie      GBA  2004.0      Action
8991  8993                        Metal Slug 7       DS  2008.0     Shooter
8992  8994                  MLB SlugFest 20-03       GC  2002.0      Sports

                   Publisher  NA_Sales  EU_Sales  JP_Sales  Other_Sales  \
7                   Nintendo     14.03      9.20      2.93         2.85
8                   Nintendo     14.59      7.06      4.70         2.26
9                   Nintendo     26.93      0.63      0.28         0.47
10                  Nintendo      9.07     11.00      1.93         2.75
11                  Nintendo      9.81      7.57      4.13         1.92
...                      ...       ...       ...       ...          ...
8988              Tecmo Koei      0.04      0.03      0.05         0.02
8989              Activision      0.00      0.13      0.00         0.02
8990     Crave Entertainment      0.10      0.04      0.00         0.00
8991  Ignition Entertainment      0.13      0.00      0.01         0.01
8992            Midway Games      0.11      0.03      0.00         0.00

      Global_Sales Past_Decade
7            29.02          No
8            28.62          No
9            28.31          No
10           24.76          No
11           23.42          No
...            ...         ...
8988          0.15         Yes
8989          0.15         Yes
8990          0.15          No
8991          0.15          No
8992          0.15          No

[8986 rows x 12 columns]

**Drop Duplicates**

In [13]:
ds_no_duplicates = ds.drop_duplicates()

In [14]:
ds.head

<bound method NDFrame.head of         Rank                                              Name Platform  \
0          1                                        Wii Sports      Wii
1          2                                 Super Mario Bros.      NES
2          3                                    Mario Kart Wii      Wii
3          4                                 Wii Sports Resort      Wii
4          5                          Pokemon Red/Pokemon Blue       GB
5          6                                            Tetris       GB
9         10                                         Duck Hunt      NES
10        11                                        Nintendogs       DS
12        13                       Pokemon Gold/Pokemon Silver       GB
13        14                                           Wii Fit      Wii
15        16                                Kinect Adventures!     X360
16        17                                Grand Theft Auto V      PS3
17        18                     Grand Theft Auto: San Andreas      PS2
18        19                                 Super Mario World     SNES
22        23                               Super Mario Bros. 3      NES
24        25                       Grand Theft Auto: Vice City      PS2
28        29                            Gran Turismo 3: A-Spec      PS2
29        30                    Call of Duty: Modern Warfare 3     X360
30        31           Pokémon Yellow: Special Pikachu Edition       GB
33        34                         Call of Duty: Black Ops 3      PS4
34        35                        Call of Duty: Black Ops II      PS3
44        45                                Grand Theft Auto V      PS4
50        51                Super Mario Land 2: 6 Golden Coins       GB
52        53                                      Gran Turismo       PS
57        58                             Super Mario All-Stars     SNES
71        72                               Donkey Kong Country     SNES
89        90                                           Pac-Man     2600
104      105                        Need for Speed Underground      PS2
127      128                               The Legend of Zelda      NES
132      133                           Pokémon Crystal Version       GB
179      180                                   Madden NFL 2004      PS2
187      188         Donkey Kong Country 2: Diddy's Kong Quest     SNES
221      222                                           FIFA 17      PS4
231      232           The Legend of Zelda: A Link to the Past     SNES
239      240                                          Pitfall!     2600
251      252                   Zelda II: The Adventure of Link      NES
258      259                                         Asteroids     2600
421      422                                          Baseball      NES
5957    5959                            Imagine: Makeup Artist       DS
14390  14393  Phantasy Star Online 2 Episode 4: Deluxe Package      PS4

         Year         Genre                    Publisher  NA_Sales  EU_Sales  \
0      2006.0        Sports                     Nintendo     41.49     29.02
1      1985.0      Platform                     Nintendo     29.08      3.58
2      2008.0        Racing                     Nintendo     15.85     12.88
3      2009.0        Sports                     Nintendo     15.75     11.01
4      1996.0  Role-Playing                     Nintendo     11.27      8.89
5      1989.0        Puzzle                     Nintendo     23.20      2.26
9      1984.0       Shooter                     Nintendo     26.93      0.63
10     2005.0    Simulation                     Nintendo      9.07     11.00
12     1999.0  Role-Playing                     Nintendo      9.00      6.18
13     2007.0        Sports                     Nintendo      8.94      8.03
15     2010.0          Misc       Microsoft Game Studios     14.97      4.94
16     2013.0        Action         Take-Two Interactive      7.01      9.27
17     2004.0        Action         Take-Two Interactive      9.43      0.40
18     1990.0      Platform                     Nintendo     12.78      3.75
22     1988.0      Platform                     Nintendo      9.54      3.44
24     2002.0        Action         Take-Two Interactive      8.41      5.49
28     2001.0        Racing  Sony Computer Entertainment      6.85      5.09
29     2011.0       Shooter                   Activision      9.03      4.28
30     1998.0  Role-Playing                     Nintendo      5.89      5.04
33     2015.0       Shooter                   Activision      5.77      5.81
34     2012.0       Shooter                   Activision      4.99      5.88
44     2014.0        Action         Take-Two Interactive      3.80      5.81
50     1992.0     Adventure                     Nintendo      6.16      2.04
52     1997.0        Racing  Sony Computer Entertainment      4.02      3.87
57     1993.0      Platform                     Nintendo      5.99      2.15
71     1994.0      Platform                     Nintendo      4.36      1.71
89     1982.0        Puzzle                        Atari      7.28      0.45
104    2003.0        Racing              Electronic Arts      3.27      2.83
127    1986.0        Action                     Nintendo      3.74      0.93
132    2000.0  Role-Playing                     Nintendo      2.55      1.56
179       NaN        Sports              Electronic Arts      4.26      0.26
187    1995.0      Platform                     Nintendo      2.10      0.74
221    2016.0        Sports              Electronic Arts      0.28      3.75
231    1991.0        Action                     Nintendo      2.42      0.91
239    1981.0      Platform                   Activision      4.21      0.24
251    1987.0     Adventure                     Nintendo      2.19      0.50
258    1980.0       Shooter                        Atari      4.00      0.26
421    1983.0        Sports                     Nintendo      0.73      0.10
5957   2020.0    Simulation                      Ubisoft      0.27      0.00
14390  2017.0  Role-Playing                         Sega      0.00      0.00

       JP_Sales  Other_Sales  Global_Sales Past_Decade
0          3.77         8.46         82.74          No
1          6.81         0.77         40.24          No
2          3.79         3.31         35.82          No
3          3.28         2.96         33.00          No
4         10.22         1.00         31.37          No
5          4.22         0.58         30.26          No
9          0.28         0.47         28.31          No
10         1.93         2.75         24.76          No
12         7.20         0.71         23.10          No
13         3.60         2.15         22.72          No
15         0.24         1.67         21.82          No
16         0.97         4.14         21.40         Yes
17         0.41        10.57         20.81          No
18         3.54         0.55         20.61          No
22         3.84         0.46         17.28          No
24         0.47         1.78         16.15          No
28         1.87         1.16         14.98          No
29         0.13         1.32         14.76          No
30         3.12         0.59         14.64          No
33         0.35         2.31         14.24         Yes
34         0.65         2.52         14.03          No
44         0.36         2.02         11.98         Yes
50         2.69         0.29         11.18          No
52         2.54         0.52         10.95          No
57         2.12         0.29         10.55          No
71         3.00         0.23          9.30          No
89         0.00         0.08          7.81          No
104        0.08         1.02          7.20          No
127        1.69         0.14          6.51          No
132        1.29         0.99          6.39          No
179        0.01         0.71          5.23          No
187        2.20         0.11          5.15          No
221        0.06         0.69          4.77         Yes
231        1.15         0.13          4.61          No
239        0.00         0.05          4.50          No
251        1.61         0.08          4.38          No
258        0.00         0.05          4.31          No
421        2.35         0.02          3.20          No
5957       0.00         0.02          0.29         Yes
14390      0.03         0.00          0.03         Yes  >

**Data Integration**

In [18]:
integrated_ds = ds.groupby(['Name', 'Platform', 'Genre', 'Publisher' ,'Year']).agg({
   'NA_Sales' : 'sum',
   'EU_Sales' : 'sum',
   'JP_Sales' : 'sum',
   'Other_Sales' : 'sum',
   'Global_Sales' : 'mean'
}).reset_index()

print(integrated_ds)

                                                Name Platform         Genre  \
0                                          Asteroids     2600       Shooter
1                                           Baseball      NES        Sports
2                          Call of Duty: Black Ops 3      PS4       Shooter
3                         Call of Duty: Black Ops II      PS3       Shooter
4                     Call of Duty: Modern Warfare 3     X360       Shooter
5                                Donkey Kong Country     SNES      Platform
6          Donkey Kong Country 2: Diddy's Kong Quest     SNES      Platform
7                                          Duck Hunt      NES       Shooter
8                                            FIFA 17      PS4        Sports
9                                       Gran Turismo       PS        Racing
10                            Gran Turismo 3: A-Spec      PS2        Racing
11                                Grand Theft Auto V      PS3        Action
12                                Grand Theft Auto V      PS4        Action
13                     Grand Theft Auto: San Andreas      PS2        Action
14                       Grand Theft Auto: Vice City      PS2        Action
15                            Imagine: Makeup Artist       DS    Simulation
16                                Kinect Adventures!     X360          Misc
17                                    Mario Kart Wii      Wii        Racing
18                        Need for Speed Underground      PS2        Racing
19                                        Nintendogs       DS    Simulation
20                                           Pac-Man     2600        Puzzle
21  Phantasy Star Online 2 Episode 4: Deluxe Package      PS4  Role-Playing
22                                          Pitfall!     2600      Platform
23                       Pokemon Gold/Pokemon Silver       GB  Role-Playing
24                          Pokemon Red/Pokemon Blue       GB  Role-Playing
25                           Pokémon Crystal Version       GB  Role-Playing
26           Pokémon Yellow: Special Pikachu Edition       GB  Role-Playing
27                             Super Mario All-Stars     SNES      Platform
28                                 Super Mario Bros.      NES      Platform
29                               Super Mario Bros. 3      NES      Platform
30                Super Mario Land 2: 6 Golden Coins       GB     Adventure
31                                 Super Mario World     SNES      Platform
32                                            Tetris       GB        Puzzle
33                               The Legend of Zelda      NES        Action
34           The Legend of Zelda: A Link to the Past     SNES        Action
35                                           Wii Fit      Wii        Sports
36                                        Wii Sports      Wii        Sports
37                                 Wii Sports Resort      Wii        Sports
38                   Zelda II: The Adventure of Link      NES     Adventure

                      Publisher    Year  NA_Sales  EU_Sales  JP_Sales  \
0                         Atari  1980.0      4.00      0.26      0.00
1                      Nintendo  1983.0      0.73      0.10      2.35
2                    Activision  2015.0      5.77      5.81      0.35
3                    Activision  2012.0      4.99      5.88      0.65
4                    Activision  2011.0      9.03      4.28      0.13
5                      Nintendo  1994.0      4.36      1.71      3.00
6                      Nintendo  1995.0      2.10      0.74      2.20
7                      Nintendo  1984.0     26.93      0.63      0.28
8               Electronic Arts  2016.0      0.28      3.75      0.06
9   Sony Computer Entertainment  1997.0      4.02      3.87      2.54
10  Sony Computer Entertainment  2001.0      6.85      5.09      1.87
11         Take-Two Interactive  2013.0      7.01      9.27      0.97
12         Take-Two Interactive  2014.0      3.80      5.81      0.36
13         Take-Two Interactive  2004.0      9.43      0.40      0.41
14         Take-Two Interactive  2002.0      8.41      5.49      0.47
15                      Ubisoft  2020.0      0.27      0.00      0.00
16       Microsoft Game Studios  2010.0     14.97      4.94      0.24
17                     Nintendo  2008.0     15.85     12.88      3.79
18              Electronic Arts  2003.0      3.27      2.83      0.08
19                     Nintendo  2005.0      9.07     11.00      1.93
20                        Atari  1982.0      7.28      0.45      0.00
21                         Sega  2017.0      0.00      0.00      0.03
22                   Activision  1981.0      4.21      0.24      0.00
23                     Nintendo  1999.0      9.00      6.18      7.20
24                     Nintendo  1996.0     11.27      8.89     10.22
25                     Nintendo  2000.0      2.55      1.56      1.29
26                     Nintendo  1998.0      5.89      5.04      3.12
27                     Nintendo  1993.0      5.99      2.15      2.12
28                     Nintendo  1985.0     29.08      3.58      6.81
29                     Nintendo  1988.0      9.54      3.44      3.84
30                     Nintendo  1992.0      6.16      2.04      2.69
31                     Nintendo  1990.0     12.78      3.75      3.54
32                     Nintendo  1989.0     23.20      2.26      4.22
33                     Nintendo  1986.0      3.74      0.93      1.69
34                     Nintendo  1991.0      2.42      0.91      1.15
35                     Nintendo  2007.0      8.94      8.03      3.60
36                     Nintendo  2006.0     41.49     29.02      3.77
37                     Nintendo  2009.0     15.75     11.01      3.28
38                     Nintendo  1987.0      2.19      0.50      1.61

    Other_Sales  Global_Sales
0          0.05          4.31
1          0.02          3.20
2          2.31         14.24
3          2.52         14.03
4          1.32         14.76
5          0.23          9.30
6          0.11          5.15
7          0.47         28.31
8          0.69          4.77
9          0.52         10.95
10         1.16         14.98
11         4.14         21.40
12         2.02         11.98
13        10.57         20.81
14         1.78         16.15
15         0.02          0.29
16         1.67         21.82
17         3.31         35.82
18         1.02          7.20
19         2.75         24.76
20         0.08          7.81
21         0.00          0.03
22         0.05          4.50
23         0.71         23.10
24         1.00         31.37
25         0.99          6.39
26         0.59         14.64
27         0.29         10.55
28         0.77         40.24
29         0.46         17.28
30         0.29         11.18
31         0.55         20.61
32         0.58         30.26
33         0.14          6.51
34         0.13          4.61
35         2.15         22.72
36         8.46         82.74
37         2.96         33.00
38         0.08          4.38

**Data Reduction**

In [20]:
reduced_ds = ds[ds['Year'] > 2012 ]

print(reduced_ds.head())

      Rank                       Name Platform    Year       Genre  \
16      17         Grand Theft Auto V      PS3  2013.0      Action
33      34  Call of Duty: Black Ops 3      PS4  2015.0     Shooter
44      45         Grand Theft Auto V      PS4  2014.0      Action
221    222                    FIFA 17      PS4  2016.0      Sports
5957  5959     Imagine: Makeup Artist       DS  2020.0  Simulation

                 Publisher  NA_Sales  EU_Sales  JP_Sales  Other_Sales  \
16    Take-Two Interactive      7.01      9.27      0.97         4.14
33              Activision      5.77      5.81      0.35         2.31
44    Take-Two Interactive      3.80      5.81      0.36         2.02
221        Electronic Arts      0.28      3.75      0.06         0.69
5957               Ubisoft      0.27      0.00      0.00         0.02

      Global_Sales Past_Decade
16           21.40         Yes
33           14.24         Yes
44           11.98         Yes
221           4.77         Yes
5957          0.29         Yes